#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P
&kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp P
&kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp M  &kp C  &kp D
&kp E  &kp F  &kp G  &kp H  &kp I  &kp J  &kp K  &kp L  &kp M  &kp N
            >;
        };
    };
};
